<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<insert id="insertBoard">
		insert
		  into board
		  (
		    board_no
		  , board_title
		  , board_content
		  )
		  values
		  (
		    seq_bno.nextval
		  , #{boardTitle}
		  , #{boardContent}
		  )
	</insert>

	<insert id="insertAttach">
		insert
		  into attachment
		  (
		    file_no
		  , file_path
		  , original_name
		  , filesystem_name
		  , ref_board_no
		  )
		  values
		  (
		    seq_fno.nextval
		  , #{filePath}
		  , #{originalName}
		  , #{filesystemName}
		  , seq_bno.currval
		  )
	</insert>












</mapper>
